In [3]:
# Load the encessary packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report

In [ ]:
!pip install opendatasets

In [3]:
# Loading the dataset
import opendatasets as od
od.download("https://www.kaggle.com/datasets/hijest/genre-classification-dataset-imdb")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: sruthik21alr045
Your Kaggle Key: ········
Downloading genre-classification-dataset-imdb.zip to .\genre-classification-dataset-imdb

100%|██████████████████████████████████████████████████████████████████████████████| 41.7M/41.7M [00:57<00:00, 758kB/s]

In [14]:
import csv
import os

# Path to the folder containing text files
folder_path = "C:/Users/jothe/OneDrive/Desktop/Project/CODESOFT/genre-classification-dataset-imdb/Genre Classification Dataset"

# Get a list of all text files in the folder
text_files = [file for file in os.listdir(folder_path) if file.endswith(".txt")]

# Iterate through each text file
for text_file in text_files:
    with open(os.path.join(folder_path, text_file), "r", encoding="utf-8") as file:
        text_data = file.read()

    # Parse the text data and organize it
    data = []
    for line in text_data.strip().split('\n'):
        parts = line.split(" ::: ")
        entry = {
            "ID": parts[0].strip(),
            "Title": parts[1].strip(),
            "Genre": parts[2].strip(),
            "Description": parts[3].strip()
        }
        data.append(entry)

    # Write the organized data to a CSV file
    csv_file_path = os.path.join(folder_path, f"{os.path.splitext(text_file)[0]}.csv")
    fieldnames = ["ID", "Title","Genre", "Description"]

    with open(csv_file_path, 'w', newline='', encoding='utf-8') as csv_file:
        writer = csv.DictWriter(csv_file, fieldnames=fieldnames)
        writer.writeheader()
        writer.writerows(data)

    print(f"CSV file has been created: {csv_file_path}")

CSV file has been created: C:/Users/jothe/OneDrive/Desktop/Project/CODESOFT/genre-classification-dataset-imdb/Genre Classification Dataset\test_data_solution.csv

In [8]:
movie=pd.read_csv("C:/Users/jothe/OneDrive/Desktop/Project/CODESOFT/genre-classification-dataset-imdb/Genre Classification Dataset/train_data.csv")
movie.head(5)

,ID,Title,Genre,Description
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his doc...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous re...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fiel...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends meet...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-rec...

In [9]:
tfidf_vectorizer = TfidfVectorizer(max_features=5000)
X = tfidf_vectorizer.fit_transform(movie['Description']).toarray()

# Prepare target variable
y = movie['Genre']
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=42)

In [24]:
print(len(np.unique(y)))

27

In [15]:
nb = MultinomialNB()
nb.fit(x_train,y_train)

MultinomialNB()

In [18]:
y_pred = nb.predict(x_test)
print(classification_report(y_test, y_pred, zero_division=1))

              precision    recall  f1-score   support

      action       0.57      0.10      0.18       116
       adult       0.67      0.03      0.06        59
   adventure       0.33      0.01      0.03        73
   animation       1.00      0.00      0.00        61
   biography       1.00      0.00      0.00        27
      comedy       0.51      0.41      0.45       753
       crime       1.00      0.00      0.00        56
 documentary       0.57      0.89      0.69      1323
       drama       0.45      0.84      0.58      1351
      family       1.00      0.00      0.00        64
     fantasy       1.00      0.00      0.00        37
   game-show       1.00      0.00      0.00        18
     history       1.00      0.00      0.00        24
      horror       0.80      0.30      0.44       208
       music       0.86      0.07      0.14        80
     musical       1.00      0.00      0.00        21
     mystery       1.00      0.00      0.00        28
        news       1.00      0.00      0.00        18
  reality-tv       1.00      0.00      0.00       121
     romance       1.00      0.00      0.00        71
      sci-fi       1.00      0.01      0.03        72
       short       0.59      0.07      0.12       494
       sport       0.86      0.13      0.22        47
   talk-show       1.00      0.00      0.00        36
    thriller       0.60      0.02      0.04       159
         war       1.00      0.00      0.00        10
     western       1.00      0.54      0.70        95

    accuracy                           0.51      5422
   macro avg       0.84      0.13      0.14      5422
weighted avg       0.61      0.51      0.43      5422

In [27]:
result=pd.DataFrame({"Actual":y_test,'Predicted':y_pred})
result.head(5)

       Actual    Predicted
5089   comedy        drama
30323   short        drama
6415   comedy  documentary
20919  horror       horror
29549   music        music

In [10]:
# applying in logistic Regression
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
log = LogisticRegression(max_iter=1000)
log.fit(x_train, y_train)

LogisticRegression(max_iter=1000)

In [7]:
y_pred1= log.predict(x_test)
print(classification_report(y_test, y_pred1, zero_division=1))

              precision    recall  f1-score   support

      action       0.52      0.36      0.43       116
       adult       0.86      0.31      0.45        59
   adventure       0.32      0.10      0.15        73
   animation       0.60      0.05      0.09        61
   biography       1.00      0.00      0.00        27
      comedy       0.53      0.61      0.57       753
       crime       0.00      0.00      0.00        56
 documentary       0.68      0.85      0.75      1323
       drama       0.55      0.78      0.65      1351
      family       0.33      0.08      0.13        64
     fantasy       0.00      0.00      0.00        37
   game-show       1.00      0.50      0.67        18
     history       1.00      0.00      0.00        24
      horror       0.64      0.57      0.60       208
       music       0.63      0.42      0.51        80
     musical       0.00      0.00      0.00        21
     mystery       1.00      0.04      0.07        28
        news       1.00      0.00      0.00        18
  reality-tv       0.58      0.27      0.37       121
     romance       0.50      0.04      0.08        71
      sci-fi       0.63      0.24      0.34        72
       short       0.50      0.34      0.40       494
       sport       0.71      0.26      0.37        47
   talk-show       0.35      0.17      0.23        36
    thriller       0.49      0.15      0.23       159
         war       1.00      0.00      0.00        10
     western       0.91      0.72      0.80        95

    accuracy                           0.59      5422
   macro avg       0.60      0.25      0.29      5422
weighted avg       0.58      0.59      0.55      5422

In [8]:
result1=pd.DataFrame({"Actual":y_test,'Predicted':y_pred1})
result1.head(5)

       Actual Predicted
5089   comedy    comedy
30323   short     drama
6415   comedy    horror
20919  horror    horror
29549   music     music

In [6]:
tfidf_vectorizer = TfidfVectorizer(max_features=5000)
test_inp=tfidf_vectorizer.fit_transform(movie_test['Description']).toarray()

In [19]:
movie_test=pd.read_csv("C:/Users/jothe/OneDrive/Desktop/Project/CODESOFT/genre-classification-dataset-imdb/Genre Classification Dataset/test_data.csv")
movie_test.tail(5)

,ID,Title,Description
54195,54196,"""Tales of Light & Dark"" (2013)","Covering multiple genres, Tales of Light & Dar..."
54196,54197,Der letzte Mohikaner (1965),As Alice and Cora Munro attempt to find their ...
54197,54198,Oliver Twink (2007),"A movie 169 years in the making. Oliver Twist,..."
54198,54199,Slipstream (1973),"Popular, but mysterious rock D.J Mike Mallard ..."
54199,54200,Curitiba Zero Grau (2010),"Curitiba is a city in movement, with rhythms a..."

In [22]:
y_pred_test= log.predict(test_inp)
movie_test["Predicted"]=y_pred_test

In [20]:
movie_out=pd.read_csv("C:/Users/jothe/OneDrive/Desktop/Project/CODESOFT/genre-classification-dataset-imdb/Genre Classification Dataset/test_data_solution.csv")
movie_out.tail(5)

,ID,Title,Genre,Description
54195,54196,"""Tales of Light & Dark"" (2013)",horror,"Covering multiple genres, Tales of Light & Dar..."
54196,54197,Der letzte Mohikaner (1965),western,As Alice and Cora Munro attempt to find their ...
54197,54198,Oliver Twink (2007),adult,"A movie 169 years in the making. Oliver Twist,..."
54198,54199,Slipstream (1973),drama,"Popular, but mysterious rock D.J Mike Mallard ..."
54199,54200,Curitiba Zero Grau (2010),drama,"Curitiba is a city in movement, with rhythms a..."

In [25]:
if(movie_out.at[54198,"Genre"]==movie_test.at[54198,"Predicted"]):
    print("Correctly predicted")
else:
    print("Not predicted correctly.")

Correctly predicted